.cart {
    width: 20%;
    min-height: 60rem;
    padding: 1rem;
    background: #F1F1F1;
}

.products {
    width: 100%;
    padding: 2rem;
    display: flex;
    align-items: center;
    flex-flow: row wrap;
}