.productList {
    width: 100%;
    min-height: 60rem;
    background: #F1F1F1;
}

.singleProduct {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    width: 80%;
}


.productName {
    width: 100%;
}

.describeProduct {
    width: 50%;
    margin-left: 5rem;
}

.price {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
}