.product {
    width: 80%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-top: 2rem;
}

.product > div {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.trash {
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
